.mixresult__overlay {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}

.mixresult__icon {
    position: absolute;
    top: -1em;
    left: -1.5em;
}

.mixresult_img {
    height: 9em;
    padding-bottom:0.8em;

}

.mixresult__combo {
    margin: 2em 1.5em;
    text-align: center;
}


.mixresult__flex {
    display: flex;
    justify-content: space-between;
}

.mixresult__innerflex {
    display: flex;
    flex-direction: column;
}

.mobile-mixresult__overlay {
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
}


.mixresult__container {
    margin: auto;
    margin-top: 10vh;
    width: 40vw;
    background-color: #8ecae6;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    z-index: 2;
}

.mobile-mixresult__container {
    width: 70%;
    margin-top: auto;
}

.mixresult__heading {
    width: 100%;
    margin-top: 0;
    border-radius: 15px 15px 0 0;
    padding: 15px 1.8em;
    font-family: "Amatic SC", sans-serif;
    font-size: 2rem;
    background-color: #ffb703;
    position: relative;
}

.mixresult__body--reaction {
    margin: 1.5em 3em 0.5em 3em;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1.6;
}

.mixresult__body--reaction__info {
    padding: 2em 0;
}

.mixresult__body--todo {
    margin: 0 3em 2em 3em;
}

.mixresult__body--todo_text {
    margin-top: 1.5em;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    line-height: 1.6;
}

.mixresult__body--todo_ask {
    font-size: 1.3rem;
    font-family: "Amatic SC";
}

.mixresult__body--nothing {
    margin: 3em;
    padding-top: 2em;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1.6;
}

.mixresult__btn {
    background-color: #ffb703;
    font-size: 1.3rem;
    font-family: "Amatic SC", sans-serif;
    border: none;
    border-radius: 30px;
    width: 7rem;
    margin: 1.5rem;
    margin-top: 0;
    padding: 10px;
}

.mixresult__btn:hover,
.mixresult__btn:focus {
    background-color: #023047;
    color: #ffb703;
    transition: 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}

.mixresult__btn-center {
    text-align: center;
}
