.about__page {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.about__box {
  position: absolute;
  top: 10vh;
  left: 20vw;

  width: 60vw;
  background-color: #8ecae6;

  display: flex;
  flex-direction: column;

  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  padding: 2em;
  border-radius: 30px;
}

.about__title {
  font-family: "Barrio", sans-serif;
  color: #023047;
  padding-bottom: 0.5em;
  font-size: 2.5rem;
}

.about__text-box {
  display: flex;
  align-items: center;
}

.about__inner {
  padding-top: 1.5em;
}

.about__inner-title {
  padding-bottom: 0.5em;
  font-size: 1.7rem;
  font-family: "Amatic SC", sans-serif;
}

.about__logo {
  display: none;
}

.about__close-btn {
  background-color: #ffb703;
  font-size: 1.3rem;
  font-family: "Amatic SC", sans-serif;
  border: none;
  border-radius: 30px;
  width: 7rem;
  margin: 1.5rem;
  padding: 10px;
}

.about__close-btn:hover,
.about__close-btn:focus {
  background-color: #023047;
  color: #ffb703;
  transition: 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.about__close-center {
  padding-top: 2em;
  text-align: center;
}

@media (min-width: 840px) {
  .about__box {
    top: 15vh;
    left: 30vw;
    width: 40vw;
  }

  .about__title {
    font-size: 2.8rem;
  }

  .about__box {
    font-size: 1rem;
  }

  .about__logo {
    display: block;
    width: 10rem;
    opacity: 0.3;
    margin-left: 2rem;
  }

  .about__close-center {
    padding-top: 0;
  }
}

@media (min-width: 1600px) {
  .about__title {
    font-size: 3rem;
  }

  .about__box {
    font-size: 1.2rem;
  }

  .about__title {
    padding-bottom: 0;
  }

  .about__logo {
    width: 10rem;
  }
}
