.chem__circle {
  position: absolute;
  left: 0;
}

.chem__circle-chemicals {
  position: relative;
  left: calc((100vw / 2) - 30px);
  z-index: -1;
}

.chem__circle-mix {
  position: relative;
  left: calc(100vw / 2);
}

@media (min-width: 1200px) {
  .chem__circle-chemicals {
    left: calc(96vw / 2);
  }
}
