@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-2px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;

  margin: 0;
  width: 100vw;
  height: 10vh;
  background-color: #8ecae6;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.info__about-btn {
  background-color: #ffb703;
  border: none;
  border-left: 1px solid black;

  height: 100%;
  aspect-ratio: 1/1;
}

.info__about-btn_text {
  font-family: "Amatic SC", sans-serif;
  font-size: 5vh;
  display: inline-block;
}

.info__about-btn_text:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

.game__header-title {
  position: absolute;
  left: 5vw;
  width: 80vw;

  font-size: 30px;
  font-weight: bold;
  font-family: "Barrio", sans-serif;
}

@media (min-width: 840px) {
  .game__header-title {
    width: 30vw;
    left: calc((90vw - 10vh)/2);
  }
}
