header {
  position: sticky;
  top: 0;
  left: 0;

  margin: 0;
  width: 100vw;
  height: 10vh;
  background-color: #8ecae6;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.info__about-btn {
  background-color: #ffb703;
  border: none;
  border-left: 1px solid black;

  height: 100%;
  aspect-ratio: 1/1;
}

.info__about-btn_text {
  font-family: "Amatic SC", sans-serif;
  font-size: 5vh;
  display: inline-block;
}

.game__header-title {
  position: absolute;
  left: 5vw;

  font-size: 30px;
  font-weight: bold;
  font-family: "Barrio", sans-serif;
  color: #023047;
}

@media (min-width: 840px) {
  .game__header-title {
    left: calc((90vw - 10vh)/2);
  }
}
