
footer {
  color: #ffb703;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  left: -145px;
  display: flex;
  justify-content: start;
  width: 100vw;
  font-family: "Amatic SC", sans-serif;
  overflow: hidden;
  transition: 0.7s ease-in-out  ;
}


footer:hover {
  transform: translateX(145px);
}

.footer__trademark {
  margin-left: 10px;
}

.footer__link {
  margin-left: 10px;
  text-decoration: none;
  color: #ffb703;
}
