.infobox__overlay {
    position: fixed;
    padding-top: 25vh;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}


.infobox__container {
    margin: auto;
    width: 40vw;
    background-color: #8ecae6;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    z-index: 2;
}

.mobile {
    width: 90%;
}

.infobox__heading {
    width: 100%;
    margin-top: 0;
    border-radius: 15px 15px 0 0;
    padding: 15px 1.4em;
    font-family: "Amatic SC", sans-serif;
    font-size: 2rem;
    background-color: #ffb703;
}

.infobox__body {
    margin: 3em;
    margin-top: 1.5em;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1.6;
}

.infobox__flex {
    display: flex;
    justify-content: space-between;
}

.infobox__icon {
    width: 5em;
}

.infobox__bold {
    font-size: 1.3rem;
    font-family: "Amatic SC";
    display: inline;
}

.infobox__btn {
    background-color: #ffb703;
    font-size: 1.3rem;
    font-family: "Amatic SC", sans-serif;
    border: none;
    border-radius: 30px;
    width: 7rem;
    margin:  1.5rem;
    margin-top: 0;
    padding: 10px;
}
.infobox__btn:hover,
.infobox__btn:focus {
    background-color: #023047;
    color: #ffb703;
    text-decoration: none;
    cursor: pointer;
}

.infobox__btn-center {
    text-align: center;
}